{% extends 'base.html' %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <h2>F1TH</h2>
    <h3>Formula 1 Turbo Hybrid</h3>
<p>This site was made by Giga Maisuradze for Lika Svanadze(GOAT Lecturer of BETEU).
F1TH is built using 4 languages, 2 of which are not quite "languages": Python, JS, HTML, CSS.<br>
    Hope you enjoyed using this site and don't forget to rate your local Steve Jobs with 5 stars! <br>
    <br>
    P.S I was supposed to build this project with my close friend, Saba Artkmeladze, who unfortunately,
    couldn't manage to choose Lika. So ვუკვდავყოთ his name in this little section.
    <br><i>Still we rise!</i>
</p>
{% endblock %}
