<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Site {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>
<body style="font-family: 'Nunito', sans-serif; font-size: 25px;">
<div class="wrapper">
    <div class="hero-img"></div>
    <header>
        <a class="logo" href="/">F1<span class="logo-text">TH</span></a>
        <nav>
            <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
                    <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "></polygon>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    </svg>
            <ul>
                <li><a class="list-link" href="/">Home</a></li>
                {% if 'username' not in session%}
                <li><a class="list-link" href="{{url_for('login')}}">Log in</a></li>
                {%endif%}
                {% if 'username' in session%}
                <li><a class="list-link" href="{{url_for('logout')}}">Log out</a></li>
                {%endif%}
                {% if 'username' in session%}
                <li><a class="list-link" href="{{url_for('user')}}">User</a></li>
                {%endif%}
                <li><a class="list-link" href="{{url_for('aboutus')}}">About us</a></li>
            </ul>
        </nav>
        <svg class="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97;" xml:space="preserve">
                <g>
                    <g id="Menu">
                        <path d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03    C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z"></path>
                        <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03    S379.58,180.455,372.939,180.455z"></path>
                        <path d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909    c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z"></path>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>
    </header>
    <section class="hero">
        <h1 class="heading">Formula 1 - Turbo Hybrid Era</h1>
        <p class="subhead">This site offers information from every single F1 season starting from 2014, when technical regulations changed and we entered new era - era of hybrid power units.</p>

    {% block content %}
    <h2>Welcome {{ session['username']}} </h2>

    {% endblock %}
</section>
</div>





<script>
        const menu = document.querySelector('.menu')
        const close = document.querySelector('.close')
        const nav = document.querySelector('nav')

        menu.addEventListener('click', () => {
            nav.classList.add('open-nav')
        })

        close.addEventListener('click', () => {
            nav.classList.remove('open-nav')
        })
    </script>
</body>

</html>